/*html*/
body
{
    font-family: Almendra, sans-serif;
    color: black;
    width: 800px;
    margin: 20px auto;
}

/* header */
.header__title__nav
{
    background-color: #5CC66F;
    color: white;
    box-shadow: 0px 0px 5px black;
    border-radius: 5px;
    padding: 0px 10px;
    display: flex;    
    justify-content: space-between;
    align-items: baseline;
}


.header__title, .article__title
{
    font-size: 2.5em;
    font-weight: bold;
    text-align: center;
}
.header__litletitle
{
    font-size: 1.5em;
    font-weight: normal;
}
.header__navigation
{
    list-style-type: none;
    padding-inline-start: 0px;
    display: flex;
}

.header__navigation__link
{
    font-size: 1.2em;
    text-decoration: none;
    color: white;
    padding: 0px 10px;  
}

.header__navigation__link:hover
{
    color: gold;
    border-bottom: 3px solid gold;
}



/*Bannieres */

#Banniere_worldofwarcraft
{
    margin-top: 15px;
    height: 200px;
    background: url('image/index.jpg');
    background-size: cover;
    border-radius: 5px;
    position: relative;
    box-shadow: 0px 4px 4px black;
}
#Banniere_de_la_guilde
{
    position: absolute;
    bottom: 0;
    border-radius: 0px 0px 5px 5px;
    width: 99.5%;
    height: 25px;
    padding-top:15px;
    padding-left: 4px;
    background-color: rgba(24, 24, 24, 0.644);
    color: white;
    font-size: 0.8em;   

}
.Bouton
{
    height: 20px;
    position: absolute;
    right: 5px;
    bottom: 5px;
    background-color: #760001;
    border-radius: 5px;
    font-size: 1.2em;
    text-align: center;
    padding: 3px 8px 0px 8px;
    color: white;
    text-decoration: none;
}
.Bouton:hover{
    transition: 2s;
    background-color: #5CC66F;               
    }



/*corps*/
section
{
    display: flex;
    margin-bottom: 15px;
}

article
{
    margin-right: 15px;
    flex: 3;
    font-size: 1.1em;
}

aside
{
    flex: 1.2;
    position:relative;
    background-color: #5CC66F;
    box-shadow: 0px 2px 5px black;
    border-radius: 5px;
    padding: 10px;
    color: white;
    height: 380px;
    margin-top: 220px;
    text-align: center;
}

#photo_Darkash img
{
    border: 1px solid #181818;
    width: 150px;
    height: 150px;
}

/* Footer */

footer
{
    display: flex;
    padding-top: 10px;
}

footer p, footer ul
{
    font-size: 0.8em;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

footer h2
{   
    font-size: 1.1em;
    font-family: Arial, Helvetica, sans-serif;
}



#tweet
{
    width: 28%;
}

#Mes_Photos
{
    width: 35%;
}

#Mes_potes_geek
{
    width: 31%;
}

#Mes_Photos img
{
    border: 1px solid #181818;
    margin-right: 2px;
    width: 100px;
    height: 100px;
}

#Listes_amis
{
    display: flex;
    justify-content: space-between;
    margin-top: 0;
}

#Mes_potes_geek ul
{
    padding-left: 2px;
    list-style-type: none;
}

#Mes_potes_geek a
{
    text-decoration: none;
    color: #760001;
}
#Parcours img
{
    border: 1px solid black;
    width: 300px;
    height: 200px;
}

