/* Color */

:root {
    --color: #5CC66F;
}

.body{
    width: 800px;
    margin: 20px auto;
    font-family: Almendra, sans-serif;
}

/*header*/
.header__principale
{
    background-color: var(--color);
    color: white;
    text-align: center; 
    padding: 20px 20px;
    border-radius: 5px;
}
.header__title{
    padding: 10px;
    text-transform: uppercase;
}

/*section*/
.section{
    display: flex;
    padding: 10px 0px;
}
.experience__pro{
    width: 50%;
    padding-right: 10px;

}
.article__title__3{
    padding: 20px 0px;
    font-weight: bold;
    color: var(--color);
    text-align: center;
    text-transform: uppercase;
}
.article__title__4{
    padding: 15px 0px 5px 0px;
    text-decoration: underline;
    color: var(--color);
    text-transform: uppercase;
}
.formations{
    width: 50%;
    padding-left: 10px;
    position: relative;
}
.aside__me{
    position: absolute;
    left: 10%;
    background-color: var(--color);
    padding: 5px 5px;
    margin-top: 10%;
    border-radius: 15px;
    color: white;
}
.aside__title{
    text-transform: uppercase;
    padding: 15px 0px 5px 0px;
    text-decoration: underline;
}


/* bas de page */
.footer__cv{
    margin-top: 30%;
}
.footer__back{
    padding-left: 50px;
    text-decoration:none ;
    color: var(--color);
}
.footer__back:hover{
    transition: 2s;
    color: #163F26;
}
.twitter__img,.linkedin__img{
    padding-left:15px;
    width: 50px;
}

@media screen and (max-width: 940px)
